@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400&display=swap');

.buttons-container{
    display: flex;
    justify-content: center;
}

.button-round-grid{
    margin-right: 20px;
}

.project-link{
    font-size: 1.5rem;
}

/* CSS */
.button-round-grid {
  padding: 1em 2.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-round-grid:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-round-grid:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding-left: 20%;
    padding-right: 20%;
    height: minmax(0,1fr);
    overflow: visible;
    padding-bottom: 17%;

}
.item{
    border: 2px dashed #d9d9d9;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
    
}

.Grid-Header { font-family: Pacifico; font-size: 4rem; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px;
    margin-top: 5%;
    margin-bottom: 5%;
}
    